<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lonelygamer.dmc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lglogo"
        android:label="Lonely Gamer"
        android:roundIcon="@mipmap/lglogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CreateLobby"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JoinLobby"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Lobby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LobbyList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoClass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandingSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdJoin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdCreate"
            android:screenOrientation="portrait" />
        <activity android:name=".Help"></activity>
    </application>

</manifest>